.top-row{
    display: flex;
}

.create-product{
    display:flex;
    align-items:center;
    justify-content:center;
    width: 50px;
    height: 50px;

    i{
        font-size: 35px;
    }
}
.product-list-table{
    background-color:$searchBar;
    border-radius: 5px;
    overflow: hidden;
}

.list-header{
    background-color:$product-background;
    height: 30px;
    display:flex;
    align-items:center;
    p{
        font-size: $text14;
        margin: 0;
        text-align: center;
    }
}

.col-m{
    width:150px;
    max-width:150px;
    overflow: hidden;

    i{
        padding: 0 20px;
    }

    &.float{
        display:flex;
        justify-content:flex-end;
    }

    &.desc{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.col-s{
    width: 80px;
}

.list-body{

    li:nth-child(even){
        background-color:$product-background;
    }

}
.list-product-item{
    display:flex;
    font-size:$text12;
    height: 25px;
    display:flex;
    align-items:center;
    text-align:center;

    .item{
        max-height: 17px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}