.navbar{
    position:fixed;
    background-color: $navbar-color;
    width: 100vw;
    height: 100px;
    z-index: 100;
}
.content{
    max-width: 1366px;
    margin: 0 auto;
    height: 100%;
    padding: 0 15px;
    display:flex;
}

.links{
    display:flex;
    height: 100%;

    &.mobile{
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .link{
        width: calc(100px + (200 - 100) * ((100vw - 320px) / (1920 - 320)));
        height: 100%;
        color: white;
        display:flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        &:hover{
            background-color:$navbar-hover;
        }
    }
}

#menuLinks{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100vw;    
    background-color: #16a085;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 100;
    height: 0;
    overflow: hidden;
    pointer-events: none;
    transition: all 0.8s ease-in-out;

    &.show{
        height: calc(100vh - 100px); 
        pointer-events: all;      
    }

    .link{
        width:100%;
        height: 70px;
        min-height: 70px;
    }
}

#hambMenu {
    position: relative;
    transform: rotate(0deg);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    display: flex;
    height: 50px;
    width: 100%;

    span {
        display: block;
        position: absolute;
        height: 1.5px;
        width: 24px;
        background-color: #ffffff;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        right: 0;
        margin: auto;
        transform: rotate(0deg);
        transition: all 0.2s ease-in-out;
    }
    span:nth-child(1) {
        top: 16px;
        width: 24px;
    }
    span:nth-child(2),span:nth-child(3) {
        top: 24px;
    }

    span:nth-child(4) {
        top: 32px;
        width: 24px;
    }
}

.user{
    width: 100%;
    display:flex;
    justify-content:flex-end;
    position: relative;

    .cart{
        position: relative;
        width: 100px;
        height: 100%;
        display:flex;
        align-items: center;
        justify-content: center;
        color: white;
    
        .icon{
            width: 100%;
            height: 100%;
            display:flex;
            align-items: center;
            justify-content: center;
            position: relative;
            &:hover{
                background-color:$navbar-hover;
                cursor: pointer;
            }
        }
    
        svg{
            font-size: 20px;
        }
    }
    .cart-count{
        position: absolute;
        background-color:black;
        font-size:9px;
        width:15px;
        height:15px;
        border-radius:50%;
        display:flex;
        align-items:center;
        justify-content:center;
        top: 30px;
        right: 30px;
    }

    .cart-body{
        display:none;
        width:360px;
        border-radius: 5px;
        position: absolute;
        top: 90px;
        left: 0;
        -webkit-box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.75);
        box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.75);
        background-color: $dark-grey;

        &.show{
            display:block;
        }
    
        .cart-header{
            display:flex;
            align-items:center;
            justify-content:space-between;
            width:100%;
            height: 50px;
            padding:0 15px;
            border-radius: 5px 5px 0 0;       
        
            .close{
                font-size: 20px;
                font-weight: bold;
                cursor: pointer;
            }
        }

        .cart-footer{
            //width:360px;
            height: 50px;
            border-radius: 0 0 5px 5px;
            display:flex;
            align-items: center;
            justify-content:space-between;
            padding: 0 15px;

            .button + .finish{
                width: 150px;
            }
        }

        .cart-count{
            position: absolute;
            background-color:black;
            font-size:9px;
            width:15px;
            height:15px;
            border-radius:50%;
            display:flex;
            align-items:center;
            justify-content:center;
            top: 30px;
            right: 30px;
        }
    }

    .profile{
        display: flex;
        align-items: center;
    
        &:hover{
            background-color: $navbar-hover;
            cursor: pointer;
        }

        .profile-name{
            color: white;
            padding: 0 25px;
        
        }
        
        .profile-image{
            width: 60px;
            height: 60px;
            border-radius:50%;
            background-color:grey;
            margin: 0 10px;
        }
    }

    .user-settings{
        display:none;
        width: 120px;
        height: 100px;
        border-radius: 5px;
        background-color: $navbar-color;
        position: absolute;
        top: 110px;
        right: 0;
        -webkit-box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.75);
        box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.75);
        overflow: hidden;

        &.show{
            display:block;
        }

        .profile-settings a, .logout a{
            width:100%;
            height: 50%;
            display:flex;
            align-items:center;
            justify-content:space-evenly;
            color: $text-color;
            padding: 15px;
            text-decoration: none;

            &:hover {
                background-color: $navbar-hover;
                cursor: pointer;
            }

            svg{
                width:16px;
                height: 100%;
            }
        }
    }
}

@media screen and (max-width: 1460px){
    .user .cart-body{
        left: -100px;
    }
}

@media screen and (max-width: 991px){
    .user .profile .profile-name{
        display: none;
    }

    .user .cart-body{
        left: auto;
        right: 10px;
    }
}

@media screen and (max-width: 767px){
    .user .cart-body{
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        min-height: 100vh;
    }
    .user .cart-body .cart-header{
        margin-bottom: 30px;
    }
}

@media screen and (min-width:601px){
    .links.mobile{
        display: none;
    }
}

@media screen and (max-width:600px){
    .links.desktop{
        display: none;
    }
    .links.mobile{
        display: flex;
    }
}