#login-form-link{

    &.active{
        background-color:$dark-grey;
    }
}
#register-form-link{

    &.active{
        background-color:$dark-grey;
    }
}

#login-form, #register-form{
    padding: 0 25px;
    width:100%;

    input{
        border: none;
        border-bottom: 1px solid $text-alt;
        background-color: $product-background;
        width:100%;
        margin: 15px 0;
        
    }

    a{
        display: block;
        margin: 10px 0;
        font-size: $text14;
    }

    .login-button{
        display:flex;
        justify-content: center;
    }
    button{
        margin: 0 auto;
        width: 150px;
        height: 30px;
    }
}

#login-form{
    display:block;
}

#register-form{
    display:none;

}

.panel{
    width:360px;
    height: fit-content;
    padding: 20px;
    background-color: $product-background;
    border-radius: 5px;
}

.form-header{
    display:flex;
    padding: 20px;

    div{
        text-align:center;
        width: 50%;
    }
}